.register-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000000;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .register-container .success-message {
    color: green;
    margin-bottom: 10px;
  }

  .register-container .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container form label {
    margin-bottom: 10px;
  }
  
  .register-container form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
  }
  
  .register-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .register-container button {
    padding: 10px 20px;
    color: #007bff;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container form button:hover {
    background-color: #0056b3;
  }
  
  .Webapp_Div {
    display: flex;
    justify-content: space-between;
}

/* Right side */
.right {
    align-self: flex-end;
    margin-right: 1vw;
}

/* Left side */
.left {
    align-self: flex-start;
    margin-left: 1vw;
}